.cardBackground {
  position: relative;
  display: grid;
  background-color: rgb(234, 234, 234);
  height: 170px;
  width: 320px;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.cardGardient {
  margin-left: 0.9vh;
  margin-top: 0.5vh;
  height: 160px;
  width: 300px;
  background: linear-gradient(
    180deg,
    rgba(8, 217, 214, 1) 49%,
    rgba(255, 46, 99, 1) 72%
  );
}

.cardContent {
  position: absolute;
  margin-top: 0.4vh;
  margin-left: 1vh;
  height: 150px;
  width: 280px;
  background-color: rgb(234, 234, 234);
}
.cardText {
  padding-top: 17%;
}

.cardBackground:active {
  transform: rotateY(360deg); /* Standard syntax */
}
