.cardBackground {
  margin-top: 2vh;
  margin-right: 1vh;
  position: relative;
  display: grid;
  background-color: rgb(234, 234, 234);
  height: 20vh;
  width: 20vh;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  border-radius: 5%;
  box-shadow: 5px 5px 5px 0px rgb(8, 217, 214);
}

.bar {
  margin-left: 4.7%;
  margin-top: 5%;
  height: 3vw;
}
.cardGardient {
  position: absolute;
  z-index: 3;
  width: 0;
  height: 5%;
  background: linear-gradient(
    90deg,
    rgba(255, 46, 99, 1) 0%,
    rgba(80, 128, 158, 1) 65%,
    rgba(8, 217, 214, 1) 100%
  );
  transition: 0.6s ease-out;
}

.cardGrey {
  position: absolute;
  height: 5%;
  width: 90%;
  background-color: rgb(127, 127, 127);
}

.cardContentContainer {
  text-align: left;
  align-items: center;
}

.questionView {
  position: relative;
  font-size: 1em;
  margin-right: 3%;
}
.answerView {
  font-size: 1em;
  margin-right: 3%;
}
.cardBackground:active {
  transform: rotateY(360deg);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-left: 10vw;
  max-width: 70vw;
  column-gap: 1.5em;
}

.listItem {
  margin-left: 9vw;
  padding: 1em;
  margin: 0 0 1.5em;
  overflow: hidden;
  position: relative;
  max-height: 100%;
  display: inline-block;
}

.listItem:hover {
  transform: scale(1.05);
  transition: 0.5s ease-out;
}

.listItem:hover .cardGardient {
  height: 5%;
  width: 90%;
  transition: 0.4s ease-out;
}

.fontSize {
  font-size: 150%;
}

.cardFooter {
  position: abosulte;
  bottom: 0;
  left: 0;
}

