html {
  background-color: rgb(37, 45, 52);
}

.contentContainer {
  overflow-y: scroll;
}
.contentContainer,
.contentContainer:before,
.contentContainer:after {
  box-sizing: inherit;
  height: 91vh;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 70vw;
  width: 70vw;
  margin: 3% 0 0 3%;
  background-color: rgb(234, 234, 234);
  z-index: 2;
  border-radius: 35px;
}
.inputControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

#appName {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 3em;
  background: linear-gradient(
    180deg,
    rgba(8, 217, 214, 1) 49%,
    rgba(255, 46, 99, 1) 72%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2%;
  filter: drop-shadow(1.5px 1.5px rgb(254, 254, 254));
}

/* Floating Menu control */
.floatingMenuControl {
  position: absolute;
  top: 45%;
  left: 0%;
  width: 60px;
  height: 60px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.1s;
  z-index: 10;
}

.floatingMenuControl:hover,
.floatingMenuControl:active {
  width: 250px;
}
.upperSection {
  background-color: rgba(8, 217, 214, 1);
  width: 25%;
  height: 100%;
  border-top-right-radius: 20px;
  cursor: pointer;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(37, 45, 52);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.lowerSection {
  background-color: rgba(255, 46, 99, 1);
  width: 25%;
  height: 100%;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.lowerSection:active {
  transform: translateY(1px);
}
.upperSection:active {
  transform: translateY(1px);
}

.iconLocation {
  position: relative;
  margin-left: -100px;
  margin-top: 9px;
  transition-property: margin-left;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  font-size: 2.6em;
}

.floatingMenuControl:hover .iconLocation {
  margin-left: -5px;
}

.lowerDeleteSection {
  position: relative;
  width: 60px;
  height: 180px;
  top: -84%;
  left: 110%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.lowerDeleteSectionVisible {
  visibility: visible;
}
.deleteAll {
  height: 33%;
  background-color: rgba(255, 46, 99, 1);
  border-top-right-radius: 10px;
  border-top-left-radius: 3px;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(37, 45, 52);
}

.deleteLast {
  height: 33%;
  background-color: rgba(255, 46, 99, 1);
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(37, 45, 52);
}
.deleteindex {
  height: 33%;
  background-color: rgba(255, 46, 99, 1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*  */
.formButtonControl {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  width: 50%;
  height: 10%;
  justify-content: space-around;
}
.xBtn {
  background-color: rgba(255, 46, 99, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1% 2% 1% 1%;
  border: none;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  max-width: 150px;
  min-width: 60px;
}
.addBtn {
  background-color: rgba(8, 217, 214, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1% 2% 1% 1%;
  border: none;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  max-width: 150px;
  min-width: 60px;
}

.cardInfo {
  margin: 6% 1% 1% 0;
  border: none;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 4px;
}

input:focus {
  caret-color: rgb(255, 46, 99);
}
input::placeholder {
  color: rgb(37, 45, 52);
}
input {
  font-size: 20px;
}

.gradientEffect {
  display: flex;
  margin: 3% 0 0 3%;
  width: 75vw;
  height: 75vw;
  background: linear-gradient(
    180deg,
    rgba(8, 217, 214, 1) 49%,
    rgba(255, 46, 99, 1) 72%
  );
  border-radius: 35px;
}
.mainBackground {
  display: inline-block;
  height: 35vw;
  width: 60vw;
  background-color: rgb(234, 234, 234);
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.8);
  border-radius: 35px;
}

.deleteIconLocation {
  width: 45px;
  height: 45px;
  background-size: cover;
  margin-top: 7px;
}

.formIconLocation {
  height: 5vw;
  width: 11vw;
  max-width: 150px;
  max-height: 50px;
}

@media only screen and (min-width: 1024px) {
  ul {
    column-count: 4;
  }
  .mainBackground {
    height: 35vw;
    width: 35vw;
  }
  .gradientEffect {
    width: 33vw;
    height: 33vw;
    margin: 3% 0 0 3%;
  }
  .formContainer {
    width: 31vw;
    height: 31vw;
    margin: 3% 0 0 3%;
  }
  input {
    font-size: 2vw;
    height: 4vw;
  }
  .fa-3x {
    margin-top: -10px;
    font-size: 3vw;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  ul {
    column-count: 3;
  }
  .mainBackground {
    height: 60vw;
    width: 60vw;
  }
  .gradientEffect {
    width: 55vw;
    height: 55vw;
    margin: 4% 0 0 4%;
  }
  .formContainer {
    width: 50vw;
    height: 50vw;
    margin: 4% 0 0 4%;
  }
  input {
    font-size: 3.5vw;
    height: 6vw;
  }
  .fa-3x {
    font-size: 5vw;
    margin-top: -4px;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 320px) {
  ul {
    column-count: 2;
  }
  .mainBackground {
    height: 80vw;
    width: 80vw;
  }
  .gradientEffect {
    width: 75vw;
    height: 75vw;
  }
  .formContainer {
    width: 70vw;
    height: 70vw;
  }
  input {
    font-size: 4vw;
    /* width: 55vw; */
    height: 10vw;
  }
  .fa-3x {
    font-size: 6vw;
    margin-top: -3px;
  }
}
