.App {
  font-family: sans-serif;
  text-align: center;
}
ul {
  list-style-type: none;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.listItem {
  flex-basis: 1;
}

.cardProperties {
  width: 345;
  height: 140;
}
.Form_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}
.Input_Control {
  display: flex;
  flex-direction: column;
}
.Content_Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Main_Container {
  display: flex;
  flex-direction: column;
}

#appName {
  margin-top: 5%;
}

.Show_Container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  margin-top: 2%;
}
.Button_Control {
  display: flex;
  flex-direction: row;
}
