html {
  background-color: #ffc4cd;
}
.App {
  font-family: sans-serif;
  text-align: center;
  color: black;
}
ul {
  list-style-type: none;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.listItem {
  flex-basis: 1;
}

.cardProperties {
  width: 345;
  height: 140;
}
.Form_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}
.Input_Control {
  display: flex;
  flex-direction: column;
}
.Content_Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Main_Container {
  display: flex;
  flex-direction: column;
}

#appName {
  margin-top: 5%;
  font-family: Candara;
  font-size: 50px;
}

.Show_Container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  margin-top: 2%;
}
.Button_Control {
  display: flex;
  flex-direction: row;
}

.ButtonStyle {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  background-color: #ace871;
  color: black;
  cursor: pointer;
  margin-top: 5px;
}
.x_Btn {
  background-color: transparent;
  border: none;
  height: fit-content;
  margin-top: 10%;
}

.addCardBorder {
  border-style: solid;
  border-radius: 5px;
  border-width: 0.5px;
  border-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 90px 80px 100px 90px;
  background-color: #83d5ea;
}

.cardinfo {
  margin-bottom: 20px;
  width: 500px;
  height: 40px;
}

.addButton {
  height: 50px;
}
